@import '../../styles/shared-styles';

.navContainer {
    height: 80px;
    display: flex;
    font-size: 1rem;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1;
    padding: 0 24px;

    ul {
        display: flex;
        list-style: none;

        li {
            height: 80px;
            line-height: 80px;
            font-size: 17px;
            margin-right: 20px;
        }
    
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
        justify-content: start;
    }

    @media screen and (max-width: 960px) {
        transition: 0.8s all ease-out;
    }

    &.onScroll {
        background-color: #000;
    }
}

.unknownClass {
    background-color: #000;
}

.logo {
    justify-self: flex-start;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
    line-height: 80px;
    display: flex;
    font-weight: bold;
}
.mobileIcon {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        margin-top: -10px;
    }
}
.linkWrapper a {
    color: #fff;
    display: flex;
    text-decoration: none;
    height: 100%;
    margin-right: 10px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.active {
}
.mediaLinks {
    margin-left: 25%;

    a {
        color: #fff;
    }

    @include medium-screen {
        margin-left: 0;
    }
}
.linkWrapper {
    margin-left: 10%;
}
.contactBtn {
    width: 160px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    line-height: 36px;
    background-color: transparent;
}
