@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@100;800&display=swap');
@import '../../styles/shared-styles';


/*Styles for info section*/
.homeContainer {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(../../public/background-img.jpg);
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;

    @include tablet {
        height: 50vh;
    }
    @include phone {
        height: 80vh;
    }
    @include medium-screen {
        height: 55vh;
    }
    @media screen and (device-aspect-ratio: 40/71) {
        height: 90vh;
    }
}
.homeBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.headlineText {
    width: 73%;
    padding: 250px 145px;
    color: #fff;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 120px 30px;
        text-align: left;
        font-size: 30px;
    }

    @include medium-screen {
       padding: 100px 50px;
    }
    

    h2 {
        font-size: 63px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600 !important;
        line-height: 80px;

        @include phone {
            font-size: 30px;
            line-height: 45px;
        }
        @media screen and (device-aspect-ratio: 40/71) {
            font-size: 30px;
            line-height: 40px;
        }
    }

    span {
        font-size: 23px;
        font-family: 'Italianno', cursive;
        font-family: 'Festive', cursive;
    }
}

.ctaBtn {
    border: none;
    padding: 12px 50px;
    text-decoration: none;
    color: #000;
    height: 41px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

    @include phone {
        font-size: 22px;
        width: 256px;
        height: 51px;
    }
    @include tablet {
        font-size: 22px;
        width: 256px;
        height: 51px;
    }
}
.img {
    border-bottom-right-radius: 50px;
}
.aboutText {
    padding: 0 50px;

    h1 {
        font-size: 53px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600 !important;

        @include phone {
            font-size: 35px;
        }
    }
    p {
        color: #97979d;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;

        @include phone {
            line-height: 28px;
        }
    }
}

.portfolioSection {
    h1 {
        font-size: 53px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600 !important;
        text-decoration: overline;
    }
}
