$primary-color:     #075692;
$secondary-color:   #E8661C;
$white:             #ffffff;
$dark-text:         #505050;
$grey-text:         #999999;
$grey:              #C2C2C2;
$light-grey:        #FBFBFB;
$color-green:       #037136;
$color-red:         #bf0000;
$box-shadow:        #B9BBC0;
$black:             #000000;
$blue:              #2F8EFE;
$border:            #EAEAEA;